@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand&family=Poppins:wght@400;500&display=swap');
body{
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
    
}
.login_container{
    background-color: orange;
    
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-image: url('../image/background_image.png');
    background-repeat: no-repeat;
    background-size: cover;
    
    background-position:bottom;
}

.login_inner_container{
    align-self: flex-end;
    border-radius: 25px;
    box-shadow: 0px 2px 5px rgb(0, 0, 0,0.2);
    padding:2rem 2rem;
    margin-right: 14rem;
    margin-top: 5rem;
    background-color: rgb(255, 255, 255,.75);
    
    
}
.login_top_err_msg{
    background-color: rgba(255, 0, 0, 0.5);
    color: white;
}

.login_header_container{
    display: flex;
    justify-content: space-between;
    gap: 4rem;
}
.company_name{
    color: #779341;
    font-weight: 500;
}
.login_header_left p{
    font-weight: 400;
    font-size: 1.2rem;
    margin-bottom: 0;

}
.login_header_left h1{
    text-align: left;
    font-size: 2.7rem;
    margin-top: .2rem;
    font-weight: 500;

}

.login_header_right :first-child{
    color: #8D8D8D;
    margin-bottom: 0;
}

.login_header_right :last-child{
    margin-top: .2rem;
    text-align: left;
    color:#779341
}

.form_container{
    display: flex;
    flex-direction: column;
}

.form_label{
    display: block;
    text-align: left;
    margin-top: 2rem;
    margin-bottom: .5rem;

}
.form_input_feild{
    
    display: block;
    border-radius: 8px;
    height: 2.3rem;
    border-style: solid;
    padding-left: 1rem;
    border-width: .06rem;
    box-shadow: 1px 1px 3px rgb(173, 173, 173,0.6);
    border-color: #ADADAD;
  
}

input:focus{
    /* outline: blue; */
    outline-color: rgb(0, 0, 255,.4);
    /* background-color: orange; */
    /* border-style: groove; */
    /* border-color: #779341; */
    /* display: none; */
    /* background-color: orange; */
}


.form_button{
    display: block;
    margin-top: 1rem;
    width: 40%;
    align-self: flex-end;
    padding: .5rem 0rem;
    border-style: none;
    border-radius: 8px;
    padding-left: 1rem;
    border-width: .06rem;
    border-color: rgb(0, 0, 0,.4);
    background-color: #779341;
    color: white;
    margin-top: 3rem;
    margin-bottom: 2rem;
    font-weight: 400;
    font-size: larger;
}

@media screen and (max-width:900px) {

    .login_inner_container{
        margin-top: 2rem;
        margin-right: 4rem;
    }
}

@media screen and (max-width:600px) {

    .login_inner_container{
        margin-top: 0rem;
        margin-right: 0rem;
    }
}



/* ---------------------------------register------------------------- */
.register_container{
    height: 100%;
}
.register_inner_container{
    margin-right: 14rem;
    margin-top: 0rem;


}

.register_validation_msg{
    max-width: 300px;
}

.register_waring_icon{
    color: #779341;

}

.register_check_green{
    color: green;
}
.register_check_red{
    color: rgba(255, 0, 0, 0.5)
}

.form_button_disabled{
    background-color: rgb(119, 147, 65,.3);
}

@media screen and (max-width:900px) {

    .register_inner_container{
        margin-right: 6rem;
        margin-top: 0rem;
    
    
    }
}

@media screen and (max-width:600px) {

    .register_inner_container{
        margin-right: 0rem;
        margin-top: 0rem;
    
    
    }
}